node_modules
.DS_Store
npm-debug.log
yarn-error.log
.idea
.yarnclean
build/
coverage/
html-report/
__benchmarks__/__snapshots__/
*.bat
/default/
.history
.cache
*.scss.d.ts
dist
tcm.log
*.css.d.ts
stats.html
.env/.env.*.local
